.wholeExpenseData {
  margin-top: 20px; /* Adjust margin as needed */
}
.button-container {
  text-align: right;
  margin-bottom: 10px;
  margin-right: 20px; /* Add spacing from the right */
}

.export-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px; /* Adjust margin as needed */
  cursor: pointer;
  border-radius: 5px;
}



.export-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.table-container {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.Table {
  width: 100%;
  border-collapse: collapse;
}

.Table th, .Table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.Table th {
  background-color: #f2f2f2; /* Light gray */
}

.delete-button1, .edit-button {
  background-color: #f44336; /* Red */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px; /* Adjust margin as needed */
  cursor: pointer;
}

.edit-button {
  background-color: #2196F3; /* Blue */
}
.edit-button:hover{
  background-color: #0056b3;
}
.delete-button1:hover {
  background-color: #da190b; /* Darker red on hover */
}

.Td {
  padding: 8px;
}

.Th {
  padding: 8px;
  background-color: #f2f2f2; /* Light gray */
}
